h1, h2, p {
    color: #fff;
}
.container-menu{
    position: fixed;
    background: #0a8489;
    height: 129px;
    top: 0px;
    border-bottom: 1px solid #6610f2;
}
.col-titulo{
    margin-left: -50px;
}
.col-button{
    margin: 36px;
    margin-left: -191px;
}
.col-button button{
    margin-top: 0px;
    margin-left: 70px;
}

.col-logo{
    width: 45%;
    margin-left: 41px;
    margin-top: 15px;
}
.col-botones-menu{
    margin-bottom: 212px;
    margin-left: 545px;
    
}
.container-logo{
    position: absolute;
}

.container-section{
    margin-top: 159px;
    margin-bottom: 109px;
}

.col-boton-uno{
    margin-left: 247px;
}

.col-boton-dos{
    margin-left: 746px;
    margin-top: -381px;
}

.container-footer{
    background: #00bbc8;
    border-bottom: 1px solid #6610f2;
    border-top: 1px solid #6610f2;
}

.footer-parrafo{
    position: absolute;  
    margin-top: 79px;
    margin-left: 205px; 
}

.footer-contac{
    margin-left: 173%; 
   
}
.col-copy{
    background: #0a8489;
    height: 91px;
}
.text-copy{
    margin-top: 37px;
    position: absolute;
    margin-left: 38%;
}
.content-container-footer{
    margin-top: -63px;
}
.col-botones-principal{
    margin-left: 98px;
}
.content-boton{
    border-style: groove;
    border-radius: 13px;
    box-shadow: 2px 7px 26px #0a8489;
}
.content-botonDos{
    border-style: groove;
    border-radius: 13px;
    box-shadow: 2px 7px 26px #0a8489;
    margin-top: 30px;
}
.col-todos{
    margin-left: 222px;
}